@model List<ApplicationCore.Models.MovieCardModel>  
@*//lower-case model, tell view what data type Model-passing-parameter is expecting*@

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*Model is the default passing parameter variable name*@

<div>
    <div class="row">
        @foreach (var movieCard in Model)
        {
        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            @*call the partial view MovieCard*@
            <partial name="_MovieCard" model="movieCard"></partial>
        </div>
            
        }

    </div>
</div>


@*@foreach(var movie in Model){
    <h3>MovieID: @movie.Id</h3>
    <h3>MovieTitle: @movie.Title </h3>
    <h3>MovieUrl: @movie.PosterUrl</h3>

}*@
