@model ApplicationCore.Models.CastDetailsModel

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@Model.ProfilePath" alt="@Model.Name">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<hr />

<div>
    <div class="row">
        @foreach (var movieCard in Model.Cards)
        {
        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            @*call the partial view MovieCard*@
            <partial name="_MovieCard" model="movieCard"></partial>
        </div>
            
        };

    </div>
</div>
