@model IEnumerable<ApplicationCore.Models.GenreModel>

@foreach (var genre in Model)
{
    <a asp-action="Genre" asp-controller="Movies" class="dropdown-item" asp-route-id="@genre.Id"> @genre.Name </a>

}
